/* Add CSS Styling */
.odd {
    background-color: rgb(241, 155, 155);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

.adjust-font-size {
    font-size: 24px;
    font-weight: bold;
}

#fourth {
    background-color: rgb(118, 240, 118);
}